# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment Variables
.env

# IDE Settings
.vscode/
.idea/

# Data 
data/
*.pdf

logs/
*.log

faiss_index/
*.faiss
*.pkl