# AI & LangChain
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai

# Web & Araçlar
streamlit
python-dotenv
pypdf
faiss-cpu
pandas
numpy
docx2txt
openpyxl

# Veritabanı & Airflow Bağlantıları
psycopg2-binary
apache-airflow-providers-postgres